<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.meetingroombookingapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".mybooking.MyBookingActivity">
        </activity>
        <activity android:name=".byroom.BookByRoomActivity">
        </activity>
        <activity android:name=".home.LoginActivity">
        </activity>
        <activity
                android:name=".viewroom.ViewRoomActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".selectbytime.SelectDateTimeActivity"
                android:label="@string/title_activity_select_date_time"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".userinfo.UserInfoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".TimeAvailable.TimeAvailableActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".calendar.CalendarActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".selectbyroom.SelectRoomActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".addroom.AddRoomActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".home.HomeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".home.MainEmptyActivity"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>